<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752009909345-jvkjvipm0cgu7na98bbll7d1udva3df2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752009909345-jvkjvipm0cgu7na98bbll7d1udva3df2</string>
	<key>API_KEY</key>
	<string>AIzaSyDPxCkjjGLCtFblzMzT4df9R1kbW8Nt6i8</string>
	<key>GCM_SENDER_ID</key>
	<string>752009909345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kashsoft.animatedChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-f0968</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-f0968.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752009909345:ios:606c4aba8b6a02a8f24620</string>
</dict>
</plist>